/* Fonts */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  size-adjust: 120%;
  src: url(/assets/fonts/garamond/EBGaramond-Italic.woff2) format('woff2');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
  size-adjust: 120%;
  src: url(/assets/fonts/garamond/EBGaramond-BoldItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  size-adjust: 120%;
  src: url(/assets/fonts/garamond/EBGaramond-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  size-adjust: 120%;
  src: url(/assets/fonts/garamond/EBGaramond-Bold.woff2) format('woff2');
}

/* Basics */
html {
    line-height: 1.6;
    font-family: 'EB Garamond', Georgia, serif;
    font-size: 20px;
    color: #1a1a1a;
    background-color: #fdfdfd;
}
header, footer, #TOC {
    max-width: 50em;
    margin: auto;
}
article {
    max-width: 40em;
    margin: auto;
}

/* Highlighting */
mark, #footnotes :target, #refs :target {
    background-color: #eee;
}

/* Code */
pre, #pragmathics {
    font-family: Consolas, Lucida Console, monospace;
}

/* Personal Taste */
body {
    text-align: justify; 
    hyphens: auto;
}
a {
    color: inherit;
}

/* Environments */
.dinkus, details[open]:after {
    content: "* * *";
    font-size: 1.5em;
    letter-spacing: 0.5em;
    text-align: center;
    display: block;
}
details, figure { 
    margin: 0 2rem; 
}

blockquote {
    border: 1px solid;
    margin: 1rem;
    padding: 0 1rem;
}

figure {
    font-size: 0.8rem;
    text-align-last: center;
}

/* Side notes */
/* See also: https://scripter.co/sidenotes-using-only-css/ */
@media(min-width: 1400px) {
    aside { 
        margin-right: calc(20rem - 50vw + 1rem); /* 20em = half the article width */
        margin-bottom: 1em;
        text-align: left;
        float: right;
        clear: right;
        width: calc(50vw - 20rem - 2rem);
    }
    aside.left { 
        margin-left: calc(20em - 50vw + 1rem);
        margin-bottom: 1em;
        text-align: right;
        float: left;
        clear: left;
        width: calc(50vw - 20rem - 2rem);
    }
}
@media(max-width: 1399px) {
    aside {
        width: 100%;
    }
}

/* Table of Contents */
#TOC { 
    border-bottom: 1px solid; 
}
#TOC-toggle { 
    text-decoration: underline;
}
body[hide-toc] #TOC:not(:target) { 
    display: none; 
}
#TOC[draggable], #TOC-toggle[draggable] {
    cursor: grab;
}
/* Detached TOC */
@media(min-width: 1400px) {
    #TOC[detached], #TOC[detached][left] {
        top: 0;
        position: sticky;
        border-bottom: none;
        max-height: 100vh;
        overflow: auto;
    }
    #TOC[detached] { 
        float: right;
        clear: right;
        width: calc(50vw - 20rem - 2rem);
    }
    #TOC[detached][left] { 
        float: left;
        clear: left;
        width: calc(50vw - 20rem - 2rem);
    }
}

/* Header Styling */
h1 {
    font-size: 2rem;
    font-weight: bold;
}
h2 {
    font-size: 1.5rem;
    font-weight: bold;
}
h3 {
    font-size: 1rem;
    font-weight: bold;
}
h4 {
    font-size: 1.5rem;
    font-style: italic;
}

h1 .subtitle { 
    font-weight: normal;
    font-variant: small-caps;
    font-size: 1.5rem;
}
h2 .subtitle { 
    font-weight: normal;
    font-style: italic;
}

h1 a, h2 a, h3 a, h4 a, #TOC a {
    text-decoration: none;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, #TOC a:hover {
    text-decoration: underline;
}

/* Article Header */
header {
    padding: 0.5em;
    border-bottom: 1px solid;
    text-align: center;
}

/* Site navigation */
nav a {
    font-variant: small-caps;
}
header > nav {
    display: flex;
}
header > nav > * {
    flex-grow: 1;
}
header > nav a, #TOC[detached] a {
    opacity: 0.5;
}
header > nav a.current, #TOC[detached] a.current,
header > nav a:hover,   #TOC[detached] a:hover,
body:not([hide-toc]) #TOC-toggle {
    opacity: 1;
}

/* Article Footer */
footer {
    padding: 0.5em;
    border-top: 1px solid;
    text-align: center;
}

/* Post Navigation Footer */
.navigation { 
    display: grid; 
    grid-template-columns: 1fr auto 1fr;
}
.navigation .prev {
    margin-right: auto;
}
.navigation .next {
    margin-left: auto;
}

/* Pandoc Bibliography */
.csl-entry{
    display: list-item;
}