/* Basics */
html {
    line-height: 1.5;
    font-family: Georgia, serif;
    font-size: 20px;
    color: #1a1a1a;
    background-color: #fdfdfd;
    max-width: 40em;
    margin: auto;
}


/* Personal Taste */
body {
    text-align: justify; 
    hyphens: auto;
}
a {
    color: inherit;
}

/* Article Header */
header {
    padding: 0.5em;
    border-bottom: 1px solid;
    text-align: center;
}

/* Article Footer */
footer {
    padding: 0.5em;
    border-top: 1px solid;
    text-align: center;
}

/* Site navigation */
nav {
    display: flex;
    font-variant: small-caps;
}
nav > a {
    flex-grow: 1
}

/* Post Navigation Footer */
.navigation { 
    display: grid; 
    grid-template-columns: 1fr auto 1fr;
}
.navigation .prev {
    margin-right: auto;
}
.navigation .next {
    margin-left: auto;
}

/* Add Brackets to footnotes */
.footnote::before {
    content: '[';
}
.footnote::after {
    content: ']';
}