<!DOCTYPE html>
<html>
<head>
  <title>{{site.title}} - {{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/assets/styles/simple.css"/>
  <link rel="stylesheet" href="/assets/katex/katex.min.css"/>
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">
  <script defer src="/assets/katex/katex.min.js"></script>
  <script defer src="/assets/katex/contrib/auto-render.min.js"></script>
  <script>
      document.addEventListener("DOMContentLoaded", function() {
          renderMathInElement(document.body, {
              // ...options...
          });
      });
  </script>
</head>
<body>
  {% if page.header %}
  <header>
    {% include header.html %}
  </header>
  {% endif %}
  <main>
    {{content}}
  </main>
  {% if page.footer %}
  <footer>
    {% include footer.html %}
  </footer>
  {% endif %}
</body>
</html>